{% from './dashboard-section.njk' import dashboardSection %}

{% macro dashboardSectionRow(params) %}
  <div id="{{params.section.id}}" data-test-id="dashboard-section-{{params.section.id}}">
    {{ dashboardSection(params) }}

    {% if params.section.sections %}
      <ul class="bc-c-section-list__items-sub-section nhsuk-u-font-size-19 nhsuk-u-margin-bottom-0">
        <div class="bc-c-inset-text">
          {% for subSection in params.section.sections %}
              <div id="{{subSection.id}}" data-test-id="dashboard-sub-section-{{subSection.id}}">
                {{ dashboardSection({
                  section: subSection
                }) }}
              </div>
          {% endfor %}
        </div>
      </ul>
    {% endif %}
  </div>
{% endmacro %}
