{% from './dashboard-section-row.njk' import dashboardSectionRow %}

{% macro dashboardSectionGroup(params) %}
  <div data-test-id="dashboard-sectionGroup-{{params.sectionGroup.id}}" class="nhsuk-u-padding-bottom-2">
    <div class="bc-c-title">
      <h2 class="nhsuk-u-font-size-24">
        {{ params.sectionGroup.title }}
      </h2>
      {% if params.sectionGroup.mainAdvice %}
        <p>
          {{ params.sectionGroup.mainAdvice }}
        </p>
      {% endif %}
    </div>
    <ul class="bc-c-section-list__items">
      {% for section in params.sectionGroup.sections %}
        {{ dashboardSectionRow({
          section: section
        }) }}
      {% endfor %}
    </ul>
  </div>
{% endmacro %}
