$footer-color: #4c6272;

.bc-c-title {
  border-bottom: 2px solid $color_nhsuk-blue;
  margin: 0 0 nhsuk-spacing(3);
}

.bc-c-section-box-border {
  background-color: $color_nhsuk-white;
  border: 5px solid $color_nhsuk-blue;
}
