// section list pattern
.bc-c-section-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 40px;
  margin-bottom: 76px;
}

.bc-c-section-list__title {
  display: table;
  font-size: 24px;
  font-weight: 700;
  margin-top: 40px;
}

.bc-c-section-list__items {
  font-size: 19px;
  margin-bottom: 0;
  list-style: none;
  padding-left: 0;
  @media (min-width: 641px) {
    padding-left: 30px;
  }
  .nhsuk-inset-text {
    margin-top: 20px;
    max-width: 100%;
    padding: 0;
    .bc-c-section-list__item:first-child {
      border-top: none;
    }
    .bc-c-section-list__items {
      padding-left: 0;
    }
  }
}

.bc-c-section-list__item {
  padding-top: nhsuk-spacing(2);
  padding-bottom: nhsuk-spacing(2);
}

.bc-c-section-list__item:after {
    content: "";
    display: block;
    clear: both;
}

.bc-c-section-list__task-default-message {
  display: block;
  margin-left: nhsuk-spacing(3);
  @media (min-width: 641px) {
    float: left;
    margin-left: nhsuk-spacing(1);
  }
}

// also in public-browse
.bc-c-tag {
  background-color: $color_nhsuk-blue;
  color:  $color_nhsuk-white;
  font-weight: 600;
  padding: nhsuk-spacing(1) nhsuk-spacing(3);
}

.bc-c-section-list__task-tag {
  @extend .bc-c-tag;
  margin-top: nhsuk-spacing(2);
  margin-bottom: nhsuk-spacing(2);
  margin-left: nhsuk-spacing(3);
  display: inline-block;
  @media (min-width: 641px) {
    float: right;
    margin-top: 0;
    margin-bottom: 0;
  }
}
