{% extends 'includes/layout.njk' %}
{% from 'components/bc-error-page/macro.njk' import bcErrorPage %}

{% block body %}
  {{ bcErrorPage({
    backLink: {
      href: backLinkHref,
      text: backLinkText
    },
    error: {
      title: title,
      description: description,
      stackTrace: stackTrace if isDevelopment else null,
      data: data if isDevelopment else null
    }
  }) }}
{% endblock %}
