{% extends 'includes/layout.njk' %}
{% from 'components/back-link/macro.njk' import backLink %}
{% from 'components/bc-error-page/macro.njk' import bcErrorPage %}

{% block body %}
  {{ bcErrorPage({
    backLink: {
      href: backLinkHref,
      text: backLinkText
    },
    error: {
      title: title,
      description: description
    }
  }) }}
{% endblock %}
