{% extends 'includes/layout.njk' %}
{% from 'components/back-link/macro.njk' import backLink %}

{% block body %}
<div class="nhsuk-width-container nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-4 bc-c-error-container nhsuk-u-padding-4">
  <div data-test-id="error-back-link">
    {{ backLink({
      "href": backLinkHref,
      "text": backLinkText
    }) }}
  </div>
  <h1 class="nhsuk-heading-l nhsuk-u-margin-top-5" data-test-id="error-title">{{ title }}</h1>
  <p data-test-id="error-description">{{ description }}</p>
</div>
{% endblock %}
