{% extends 'includes/layout.njk' %}
{% from 'components/back-link/macro.njk' import backLink %}
{% from 'components/button/macro.njk' import button %}
{% from './components/section-question.njk' import sectionQuestion %}
{% from './components/multi-question.njk' import multiQuestion %}
{% from '../../../common/components/error-summary/macro.njk' import errorSummary %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    {% if (errors.length > 0) %}
      {{ errorSummary({
        errors: errors
      }) }}
    {% endif %}

    <h2 data-test-id="section-title">{{ title }}</h2>
    <h4 data-test-id="section-main-advice">{{ mainAdvice }}</h4>
    <div data-test-id="section-additional-advice">
      {% for advice in additionalAdvice %}
        <p class="nhsuk-body-l">
          {{ advice }}
        </p>
      {% endfor %}
    </div>

    <form method="post" action="{{ submitActionUrl }}">
      {% for question in questions %}
        {% if question.type === 'multi-question' %}
          {{ multiQuestion({
            parentQuestion: question
          }) }}
        {% else %}
          {{ sectionQuestion({
            question: question
          }) }}
        {% endif %}
      {% endfor %}

      {% if (warningAdvice) %}
        <div data-test-id="section-warning-advice" class="nhsuk-inset-text">
          <span class="nhsuk-u-visually-hidden">Information: </span>
          <p>{{ warningAdvice }}</p>
        </div>
      {% endif %}

      <div data-test-id="section-submit-button">
        {{ button({
          "text": submitText
        }) }}
      </div>
    </form>

    <div data-test-id="section-back-link">
      {{ backLink({
        "href": returnToDashboardUrl,
        "text": "Return to all sections"
      }) }}
    </div>

  </div>
</div>
{% endblock %}
