{% macro dashboardSection(section) %}
  <li class="bc-c-section-list__item bc-t-border-bottom--grey-3 nhsuk-u-margin-bottom-0">
      <div class="nhsuk-grid-column-one-half" >
      <span data-test-id="dashboard-section-title" class="bc-u-block-float-left">
        {% if section.isActive %}
          <a href="{{ section.URL }}">
            {{ section.title }}
          </a>
        {% else %}
          {{ section.title }}
        {% endif %}
      </span>
      </div>
      <div>
      {% if section.isActive %}
        <span data-test-id="dashboard-section-requirement" class="bc-u-block-float-left nhsuk-u-margin-left-4">
          <p class="nhsuk-u-margin-bottom-0">{{ section.requirement }}</p>
        </span>
        <strong data-test-id="dashboard-section-status" class="bc-c-section-list__task-tag">
          {{ section.status }}
        </strong>
      {% else %}
        <span data-test-id="dashboard-section-default-message" class="bc-c-section-list__task-default-message">
          <p class="nhsuk-u-margin-bottom-0">{{ section.defaultMessage }}</p>
        </span>
      {% endif %}
      </div>
  </li>
{% endmacro %}