{% from 'components/checkboxes/macro.njk' import checkboxes %}

{% macro checkboxOptions(params) %}
  <div id="{{ params.question.id }}" data-test-id="question-{{ params.question.id }}">
    {% if (params.question.error) %}
      <div data-test-id="checkbox-options-error">
        {{ checkboxes({
          "idPrefix": params.question.id,
          "name": params.question.id,
            "errorMessage": {
              "text": params.question.error.message
          },
          "fieldset": {
            "legend": {
              "text": params.question.mainAdvice,
              "classes": "nhsuk-u-font-size-24 nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-2"
            }
          },
          "hint": {
            "text": params.question.additionalAdvice,
            "classes": 'nhsuk-u-margin-bottom-1 nhsuk-u-margin-top-0'
          },
          "items": params.question.options
        }) }}
      </div>
    {% else %}
      <div data-test-id="checkbox-options">
        {{ checkboxes({
          "idPrefix": params.question.id,
          "name": params.question.id,
          "fieldset": {
            "legend": {
              "text": params.question.mainAdvice,
              "classes": "nhsuk-u-font-size-24 nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-2"
            }
          },
          "hint": {
            "text": params.question.additionalAdvice,
            "classes": 'nhsuk-u-margin-bottom-3 nhsuk-u-margin-top-0'
          },
          "items": params.question.options
        }) }}
      </div>
    {% endif %}
  </div>
{% endmacro %}
