{% from 'components/select/macro.njk' import select %}

{% macro comboboxOptions(params) %}
  <div id="{{ params.question.id }}" data-test-id="question-{{ params.question.id }}">
    {% if (params.question.error) %}
      <div data-test-id="combobox-options-error">
        {{ select({
          "id": params.question.id,
          "name": params.question.id,
          "label": {
            "text": params.question.mainAdvice
          },
          "hint": {
            "text": params.question.additionalAdvice
          },
          "errorMessage": {
            "text": params.question.error.message
          },
          "items": params.question.options
        }) }}
      </div>
    {% else %}
      <div data-test-id="combobox-options">
        {{ select({
          "id": params.question.id,
          "name": params.question.id,
          "label": {
            "text": params.question.mainAdvice
          },
          "hint": {
            "text": params.question.additionalAdvice
          },
          "items": params.question.options
        }) }}
      </div>
    {% endif %}
  </div>
{% endmacro %}
