{% from 'components/radios/macro.njk' import radios %}

{% macro radiobuttonOptions(params) %}
  <div id="question-{{ params.question.id }}" data-test-id="question-{{ params.question.id }}">
    {% if (params.question.error) %}
      <div data-test-id="radiobutton-options-error">
        {{ radios({
          "idPrefix": params.question.id,
          "name": params.question.id,
          "errorMessage": {
            "text": params.question.error.message
          },
          "fieldset": {
            "legend": {
              "text": params.question.mainAdvice
            }
          },
          "hint": {
            "text": params.question.additionalAdvice
          },
          "items": params.question.options
        }) }}
      </div>
    {% else %}
      <div data-test-id="radiobutton-options">
        {{ radios({
          "idPrefix": params.question.id,
          "name": params.question.id,
          "fieldset": {
            "legend": {
              "text": params.question.mainAdvice
            }
          },
          "hint": {
            "text": params.question.additionalAdvice
          },
          "items": params.question.options
        }) }}
      </div>
    {% endif %}
  </div>
{% endmacro %}
