{% from 'components/label/macro.njk' import label %}
{% from 'components/input/macro.njk' import input %}

{% macro textField(params) %}
  <div data-test-id="question-{{ params.question.id }}">
    {% if (params.question.error) %}
      <div data-test-id="text-field-input-error">
        {{ input({
          "id": params.question.id,
          "name": params.question.id,
          "label": {
            "text": params.question.mainAdvice
          },
          "hint": {
            "text": params.question.additionalAdvice
          },
          "value": params.question.data,
          "errorMessage": {
            "text": params.question.error.message
          }
        }) }}
      </div>
    {% else %}
      <div data-test-id="text-field-input">
        {{ input({
          "id": params.question.id,
          "name": params.question.id,
          "label": {
            "text": params.question.mainAdvice
          },
          "hint": {
            "text": params.question.additionalAdvice
          },
          "value": params.question.data
        }) }}
      </div>
    {% endif %}
    <div data-test-id="text-field-footer">
      {{ label({
        "text": params.question.footerAdvice
      }) }}
    </div>
  </div>
{% endmacro %}
