{% from 'components/label/macro.njk' import label %}
{% from 'components/input/macro.njk' import input %}

{% macro textField(params) %}

  {% if params.isMultiQuestion %}
    {% set mainAdviceClasses = 'nhsuk-u-font-size-19 nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-2' %}
  {% else %}
    {% set mainAdviceClasses = 'nhsuk-u-font-size-24 nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-2' %}
  {% endif %}

  {% if params.question.additionalAdvice %}
    {% set errorHint = {
      "text": params.question.additionalAdvice,
      "classes": 'nhsuk-u-margin-bottom-1'
    } %}
    {% set hint = {
      "text": params.question.additionalAdvice,
      "classes": 'nhsuk-u-margin-bottom-3'
    } %}
  {% endif %}

  <div data-test-id="question-{{ params.question.id }}">
    {% if (params.question.error) %}
      <div data-test-id="text-field-input-error">
        {{ input({
          "id": params.question.id,
          "name": params.question.id,
          "label": {
            "text": params.question.mainAdvice,
            "classes": mainAdviceClasses
          },
          "hint": errorHint,
          "value": params.question.data,
          "errorMessage": {
            "text": params.question.error.message
          },
          "formGroup": {
            "classes": "nhsuk-u-margin-bottom-2"
          }
        }) }}
      </div>
    {% else %}
      <div data-test-id="text-field-input">
        {{ input({
          "id": params.question.id,
          "name": params.question.id,
          "label": {
            "text": params.question.mainAdvice,
            "classes": mainAdviceClasses
          },
          "hint": hint,
          "value": params.question.data,
          "formGroup": {
            "classes": "nhsuk-u-margin-bottom-2"
          }
        }) }}
      </div>
    {% endif %}
    <div data-test-id="text-field-footer">
      <span class="nhsuk-label  bc-t-font-color--grey-1 nhsuk-u-font-size-16">
        {{ params.question.footerAdvice }}
      </span>
    </div>
  </div>
{% endmacro %}
