{% extends 'includes/layout.njk' %}
{% from 'components/back-link/macro.njk' import backLink %}
{% from 'components/button/macro.njk' import button %}
{% from './components/section-question.njk' import sectionQuestion %}
{% from '../views/error-summary.njk' import errorSummary %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    {% if (errors.length > 0) %}
      {{ errorSummary(errors) }}
    {% endif %}  
    
    <h2 data-test-id="section-title">{{ title }}</h2>
    <h4 data-test-id="section-main-advice">{{ mainAdvice }}</h4>
    <div data-test-id="section-additional-advice">
      {% for advice in additionalAdvice %}
        <p class="nhsuk-body-l">
          {{ advice }}
        </p>
      {% endfor %}
    </div>

    {% if (warningAdvice) %}
      <div data-test-id="section-warning-advice" class="bc-c-inset-text">
        <p>{{ warningAdvice }}</p>
      </div>
    {% endif %}  

    <form method="post" action="{{ submitActionUrl }}">
      {% for question in questions%}
        {{ sectionQuestion(question) }}
      {% endfor %}
      
      <div data-test-id="section-submit-button">
        {{ button({
          "text": submitText
        }) }}
      </div>
    </form>

    <div data-test-id="section-back-link">
      {{ backLink({
        "href": returnToDashboardUrl,
        "text": "Return to all sections"
      }) }}
    </div>

  </div>
</div>
{% endblock %}
