{% from 'components/details/macro.njk' import details %}

{% macro previewExpandableSection(sectionId, sectionTitle, innerComponent) %}
  <div data-test-id="preview-section-{{ sectionId }}">
    {{ details({
      "text": sectionTitle,
      "HTML": innerComponent
    }) }}
  </div>
{% endmacro %}