{% extends 'includes/layout.njk' %}
{% from 'sections/view-solution/macro.njk' import viewSolution %}
{% from 'components/back-link/macro.njk' import backLink %}

{% block body %}
  <div class="nhsuk-width-container nhsuk-u-margin-top-5">
    <div data-test-id="view-solution-page-back-link" class="nhsuk-u-margin-bottom-5">
    {{ backLink({
      "href": returnToDashboardUrl,
      "text": "Go back to previous page"
    }) }}
  </div>

  {{ viewSolution({
    sections: sections,
    solutionHeader: solutionHeader
  }) }}
{% endblock %}
