{% extends 'includes/layout.njk' %}
{% from 'sections/view-solution/macro.njk' import viewSolution %}

{% block body %}
  {{ viewSolution({
    sections: sections,
    solutionHeader: solutionHeader,
    returnToDashboardUrl: returnToDashboardUrl
  }) }}
{% endblock %}
