{% extends 'includes/layout.njk' %}
{% from 'components/back-link/macro.njk' import backLink %}
{% from '../../../common/dashboard/components/dashboard-sectionGroup.njk' import dashboardSectionGroup %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h2 data-test-id="sub-dashboard-title">{{ title }}</h2>
    <h4 data-test-id="sub-dashboard-main-advice">{{ mainAdvice }}</h4>
    <div data-test-id="sub-dashboard-additional-advice">
      {% for advice in additionalAdvice %}
        <p class="nhsuk-body-l">
          {{ advice }}
        </p>
      {% endfor %}
    </div>

    {% for sectionGroup in sectionGroups %}
      {{ dashboardSectionGroup(sectionGroup, loop.index) }}
    {% endfor %}

    <br/>
    <div data-test-id="sub-dashboard-back-link">
      {{ backLink({
        "href": returnToDashboardUrl,
        "text": "Return to all sections"
      }) }}
    </div>
  </div>
</div>
{% endblock %}
