{% from 'components/select/macro.njk' import select %}

{% macro comboboxOptions(question) %}
  <div id="{{ question.id }}" data-test-id="question-{{ question.id }}">
    {% if (question.error) %}
      <div data-test-id="combobox-options-error">
        {{ select({
          "id": question.id,
          "name": question.id,
          "label": {
            "text": question.mainAdvice        
          },
          "hint": {
            "text": question.additionalAdvice
          },
          "errorMessage": {
            "text": question.error.message
          },
          "items": question.options
        }) }}
      </div>
    {% else %}
      <div data-test-id="combobox-options">
        {{ select({
          "id": question.id,
          "name": question.id,
          "label": {
            "text": question.mainAdvice        
          },
          "hint": {
            "text": question.additionalAdvice
          },
          "items": question.options
        }) }}
      </div>
    {% endif %}
  </div>
{% endmacro %}