{% from './bulletpoint-list.njk' import bulletpointList %}
{% from './textarea-field.njk' import textareaField %}
{% from './text-field.njk' import textField %}
{% from './checkbox-options.njk' import checkboxOptions %}
{% from './radiobutton-options.njk' import radiobuttonOptions %}

{% macro innerQuestion(question) %}
  <div id="{{ question.id }}" data-test-id="section-question-{{ question.type }}">
    {% if (question.type === 'bulletpoint-list') %}
      {{ bulletpointList(question) }}
    {% endif %}

    {% if (question.type === 'textarea-field') %}
      {{ textareaField(question) }}
    {% endif %}

    {% if (question.type === 'text-field') %}
      {{ textField(question) }}
    {% endif %}

    {% if (question.type === 'checkbox-options') %}
      {{ checkboxOptions(question) }}
    {% endif %}

    {% if (question.type === 'radiobutton-options') %}
      {{ radiobuttonOptions(question) }}
    {% endif %}
  </div>
{% endmacro %}