{% extends 'includes/layout.njk' %}
{% from 'components/button/macro.njk' import button %}
{% from '../../common/dashboard/components/dashboard-sectionGroup.njk' import dashboardSectionGroup %}
{% from '../../../common/components/error-summary/macro.njk' import errorSummary %}
{% from 'components/tag/macro.njk' import tag %}
{% from 'components/view-data-bulletlist/macro.njk' import viewDataBulletlist %}

{% block body %}
<div data-test-id="dashboard">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      {% if (errors.length > 0) %}
        {{ errorSummary({
          errors: errors
        }) }}
      {% endif %}
    </div>
    <div class="nhsuk-grid-column-two-thirds">

      {{ tag({
        text: 'Supplier name',
        classes: 'nhsuk-u-margin-bottom-4 bc-c-tag-outline'
      }) }}

      <h1>{{ title }}</h1>

      <h2 class="nhsuk-u-margin-bottom-5">{{ mainAdvice }}</h2>

      <div data-test-id="dashboard-preview-button">
        {{ button({
          "text": "Preview your page",
          "classes": "nhsuk-button--secondary",
          "href": previewUrl
        }) }}
      </div>

      <p class="nhsuk-u-font-size-24 nhsuk-u-margin-bottom-0">{{ additionalAdvice }}</p>

    </div>
    <div class="nhsuk-grid-column-full">

      {% for sectionGroup in sectionGroups %}
        {{ dashboardSectionGroup({
          sectionGroup: sectionGroup
        }) }}
      {% endfor %}

    </div>
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p>{{ warningAdvice }}</p>
      </div>

      <div class="nhsuk-u-margin-bottom-5" data-test-id="dashboard-submit-for-moderation-button">
        {{ button({
          "text": "Submit for moderation",
          "href": submitForModerationUrl
        }) }}
      </div>

      <div class="bc-c-border-box nhsuk-u-padding-4 nhsuk-u-margin-bottom-5">
        <h3>{{ sectionsBox.title }}</h3>
        <p>{{ sectionsBox.mainAdvice }}</p>
        {{ viewDataBulletlist({
          data: sectionsBox.sections
        }) }}
      </div>

    </div>
  </div>
</div>
{% endblock %}
