{% extends 'includes/layout.njk' %}
{% from 'components/button/macro.njk' import button %}
{% from 'components/bc-error-summary/macro.njk' import bcErrorSummary %}
{% from 'components/tag/macro.njk' import tag %}
{% from 'components/view-data-bulletlist/macro.njk' import viewDataBulletlist %}
{% from '../../common/dashboard/components/dashboard-sectionGroup.njk' import dashboardSectionGroup %}

{% block body %}
<div data-test-id="dashboard">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      {% if (errors.length > 0) %}
        {{ bcErrorSummary({
          errors: errors
        }) }}
      {% endif %}
    </div>
    <div class="nhsuk-grid-column-two-thirds">

      {% if supplierName %}
        {{ tag({
          text: supplierName,
          dataTestId: 'supplier-name-tag',
          classes: 'nhsuk-u-margin-bottom-5 bc-c-tag-outline'
        }) }}
      {% endif %}

      <div class="nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-7">
        {% if title %}
          <h1 data-test-id="dashboard-title" class="nhsuk-u-margin-bottom-3">{{ name }} {{ title }}</h1>
        {% endif %}

        {% if mainAdvice %}
          <h2 data-test-id="dashboard-main-advice" class="nhsuk-u-font-size-22 nhsuk-u-margin-bottom-5">{{ mainAdvice }}</h2>
        {% endif %}

        {% if additionalAdvice %}
          <div data-test-id="dashboard-additional-advice" class="nhsuk-inset-text nhsuk-u-padding-top-2 nhsuk-u-padding-right-4 nhsuk-u-padding-bottom-2 nhsuk-u-padding-left-4 nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-6">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <p class="nhsuk-u-font-size-14">{{ additionalAdvice }}</p>
          </div>
        {% endif %}

        <div data-test-id="dashboard-preview-button">
          {{ button({
            "text": "Preview your page",
            "classes": "nhsuk-button--secondary",
            "href": previewUrl
          }) }}
        </div>

      </div>

    </div>
    <div class="nhsuk-grid-column-full">

      {% for sectionGroup in sectionGroups %}
        {{ dashboardSectionGroup({
          sectionGroup: sectionGroup
        }) }}
      {% endfor %}

    </div>
    <div class="nhsuk-grid-column-two-thirds">

      {% if config.showSubmitForModerationButton == 'true' %}
        {% if warningAdvice %}
          <div data-test-id="dashboard-warning-advice" class="nhsuk-inset-text nhsuk-u-padding-top-2 nhsuk-u-padding-right-4 nhsuk-u-padding-bottom-2 nhsuk-u-padding-left-4 nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-6">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <p class="nhsuk-u-font-size-14">{{ warningAdvice }}</p>
          </div>
        {% endif %}

        <div class="nhsuk-u-margin-bottom-5" data-test-id="dashboard-submit-for-moderation-button">
          {{ button({
            "text": "Submit for moderation",
            "href": submitForModerationUrl
          }) }}
        </div>
      {% endif %}

      {% if sectionsBox %}
        <div data-test-id="dashboard-sections-box" class="bc-c-section-box-border nhsuk-u-padding-4 nhsuk-u-margin-bottom-5">
          <h3>{{ sectionsBox.title }}</h3>
          <p>{{ sectionsBox.mainAdvice }}</p>
          {{ viewDataBulletlist({
            data: sectionsBox.sections
          }) }}
        </div>
      {% endif %}

    </div>
  </div>
</div>
{% endblock %}
