{% extends 'includes/layout.njk' %}
{% from 'components/button/macro.njk' import button %}
{% from '../../common/dashboard/components/dashboard-sectionGroup.njk' import dashboardSectionGroup %}
{% from '../../../common/components/error-summary/macro.njk' import errorSummary %}
{% from 'components/tag/macro.njk' import tag %}
{% from 'components/view-data-bulletlist/macro.njk' import viewDataBulletlist %}

{% block body %}
<div data-test-id="dashboard">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      {% if (errors.length > 0) %}
        {{ errorSummary({
          errors: errors
        }) }}
      {% endif %}
    </div>
    <div class="nhsuk-grid-column-two-thirds">

      {{ tag({
        text: 'Supplier name',
        classes: 'nhsuk-u-margin-bottom-4 bc-c-tag-outline'
      }) }}

      <h1>&lt;Catalogue Solution name&gt; listing page – all sections</h1>

      <h2 class="nhsuk-u-margin-bottom-5">Explain what your Catalogue Solution is for and how it works. This information will be published on the Buying Catalogue to help buyers understand if it meets their needs.</h2>

      <div data-test-id="dashboard-preview-button">
        {{ button({
          "text": "Preview your page",
          "classes": "nhsuk-button--secondary",
          "href": previewUrl
        }) }}
      </div>

      <p class="nhsuk-u-font-size-24 nhsuk-u-margin-bottom-0">Provide as much information as possible for buyers. You can save your progress at any point, but a Catalogue Solution listing page cannot be published until all mandatory fields have been completed.</p>

    </div>
    <div class="nhsuk-grid-column-full">

      {% for sectionGroup in sectionGroups %}
        {{ dashboardSectionGroup({
          sectionGroup: sectionGroup
        }) }}
      {% endfor %}

    </div>
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p>All the information provided will be moderated by NHS Digital before it is published on the Buying Catalogue. Future updates to your page must also be submitted for moderation.</p>
      </div>

      <div class="nhsuk-u-margin-bottom-5" data-test-id="dashboard-submit-for-moderation-button">
        {{ button({
          "text": "Submit for moderation",
          "href": submitForModerationUrl
        }) }}
      </div>

      <div class="nhsuk-u-padding-4 nhsuk-u-margin-bottom-5" style="border: 5px solid #005eb8; background: #fff">
        <h3>Sections added by NHS Digital</h3>
        <p>The following sections of your Catalogue Solution page will be completed for you by NHS Digital. The information will be taken from your Catalogue Solution’s framework tender and capabilities assessment.</p>
        {{ viewDataBulletlist({
          data: [
            "Price",
            "Capabilities met",
            "NHS standards met",
            "Compliance work-off plans",
            "Additional services",
            "Associated services",
            "Service level information",
            "Transition timescales",
            "Framework"
          ]
        }) }}
      </div>

    </div>
  </div>
</div>
{% endblock %}
