{% from 'components/label/macro.njk' import label %}
{% from 'components/input/macro.njk' import input %}

{% macro bulletpointList(params) %}
  <div data-test-id="question-{{ params.question.id }}">

    <div data-test-id="bulletpoint-list-main-advice">
      {{ label({
        "classes": "nhsuk-label--s",
        "text": params.question.mainAdvice
      }) }}
    </div>

    <div data-test-id="bulletpoint-list-additional-advice">
      {{ label({
        "text": params.question.additionalAdvice
      }) }}
    </div>

    <div data-test-id="bulletpoint-list-fields">
      {% for field in params.question.fields %}
          {% if (field.error) %}
            <div data-test-id="field-error-{{ field.id }}">
              {{ input({
                "id": field.id,
                "name": params.question.id,
                "value": field.data,
                "classes": "nhsuk-input--width-30",
                "errorMessage": {
                  "text": field.error.message
                }
              }) }}
            </div>
          {% else %}
            <div data-test-id="field-{{ field.id }}">
              {{ input({
                "id": field.id,
                "name": params.question.id,
                "value": field.data,
                "classes": "nhsuk-input--width-30"
              }) }}
            </div>
          {% endif %}
      {% endfor %}
    </div>
  </div>
{% endmacro %}
