{% from 'components/label/macro.njk' import label %}
{% from 'components/textarea/macro.njk' import textarea %}

{% macro textareaField(params) %}
  <div data-test-id="question-{{ params.question.id }}">
    {% if (params.question.error) %}
      <div data-test-id="textarea-field-error">
        {{ textarea({
          "id": params.question.id,
          "name": params.question.id,
          "label": {
            "text": params.question.mainAdvice
          },
          "hint": {
            "text": params.question.additionalAdvice
          },
          "value": params.question.data,
          "rows": params.question.rows,
          "errorMessage": {
            "text": params.question.error.message
          }
        }) }}
      </div>
    {% else %}
      <div data-test-id="textarea-field">
        {{ textarea({
          "id": params.question.id,
          "name": params.question.id,
          "label": {
            "text": params.question.mainAdvice
          },
          "hint": {
            "text": params.question.additionalAdvice
          },
          "value": params.question.data,
          "rows": params.question.rows
        }) }}
      </div>
    {% endif %}
    <div data-test-id="textarea-field-footer">
      {{ label({
        "text": params.question.footerAdvice
      }) }}
    </div>
    <br/>
  </div>
{% endmacro %}
