{% from 'components/label/macro.njk' import label %}
{% from './section-question.njk' import sectionQuestion %}

{% macro multiQuestion(params) %}
  <div data-test-id="question-{{ params.parentQuestion.id }}">

    <div data-test-id="multi-question-main-advice">
      {{ label({
        "classes": "nhsuk-label--s",
        "text": params.parentQuestion.mainAdvice
      }) }}
    </div>

    <div data-test-id="multi-question-additional-advice">
      {{ label({
        "text": params.parentQuestion.additionalAdvice
      }) }}
    </div>

    <div data-test-id="multi-question-questions">
      {% for question in params.parentQuestion.questions %}
        {{ sectionQuestion({
          question: question
        }) }}
      {% endfor %}
    </div>
  </div>
{% endmacro %}
