{% from 'components/input/macro.njk' import input %}

{% macro bulletpointList(question) %}
  <div data-test-id="bulletpoint-list">

  {% for field in question.fields %}
    <div data-test-id="{{ field.id }}">
      {{ input({
        "id": field.id,
        "name": field.id,
        "value": field.data,
        "classes": "nhsuk-input--width-30"
      }) }}
    </div>
  {% endfor %}

  </div>
{% endmacro %}