{% from 'components/checkboxes/macro.njk' import checkboxes %}

{% macro checkboxOptions(question) %}
  <div data-test-id="checkbox-options-{{ question.id }}">
    {{ checkboxes({
      "idPrefix": question.id,
      "name": question.id,
      "fieldset": {
        "legend": {
          "text": question.mainAdvice
        }
      },
      "hint": {
        "text": question.additionalAdvice
      },
      "items": question.options
    }) }}
  </div>
{% endmacro %}
