{% from 'components/radios/macro.njk' import radios %}

{% macro radiobuttonOptions(question) %}
  <div data-test-id="radiobutton-options-{{ question.id }}">
    {{ radios({
      "idPrefix": question.id,
      "name": question.id,
      "fieldset": {
        "legend": {
          "text": question.mainAdvice
        }
      },
      "hint": {
        "text": question.additionalAdvice
      },
      "items": question.options
    }) }}
  </div>
{% endmacro %}
