{% from 'components/radios/macro.njk' import radios %}

{% macro radiobuttonOptions(question) %}
  <div data-test-id="radiobutton-options-{{ question.id }}">
    {% if (question.error != undefined) %}
      {{ radios({
        "idPrefix": question.id,
        "name": question.id,
        "fieldset": {
          "legend": {
            "text": question.mainAdvice
          }
        },
        "hint": {
          "text": question.additionalAdvice
        },
        "items": question.options,
        "errorMessage": {
          "text": question.error.message
        }
      }) }}
    {% else %}
      {{ radios({
        "idPrefix": question.id,
        "name": question.id,
        "fieldset": {
          "legend": {
            "text": question.mainAdvice
          }
        },
        "hint": {
          "text": question.additionalAdvice
        },
        "items": question.options
      }) }}
    {% endif %}
  </div>
{% endmacro %}
