{% from 'components/input/macro.njk' import input %}

{% macro textField(question) %}
  <div data-test-id="text-field-{{ question.id }}">
    {{ input({
      "id": question.id,
      "name": question.id,
      "label": {
        "text": question.mainAdvice
      },
      "hint": {
        "text": question.additionalAdvice
      }
    }) }}
  </div>
{% endmacro %}
