{% from 'components/label/macro.njk' import label %}
{% from 'components/input/macro.njk' import input %}

{% macro textField(question) %}
  <div data-test-id="question-{{ question.id }}">
    {% if (question.error) %}
      <div data-test-id="text-field-input-error">
        {{ input({
          "id": question.id,
          "name": question.id,
          "label": {
            "text": question.mainAdvice
          },
          "hint": {
            "text": question.additionalAdvice
          },
          "value": question.data,
          "errorMessage": {
            "text": question.error.message
          }
        }) }}
      </div>
    {% else %}
      <div data-test-id="text-field-input">
        {{ input({
          "id": question.id,
          "name": question.id,
          "label": {
            "text": question.mainAdvice
          },
          "hint": {
            "text": question.additionalAdvice
          },
          "value": question.data
        }) }}
      </div>
    {% endif %}
    <div data-test-id="text-field-footer">
      {{ label({
        "text": question.footerAdvice
      }) }}
    </div>
  </div>
{% endmacro %}
