{% from 'components/textarea/macro.njk' import textarea %}

{% macro textareaField(question) %}
  <div data-test-id="textarea-field-{{ question.id }}">
    {{ textarea({
      "id": question.id,
      "name": question.id,
      "label": {
        "text": question.mainAdvice
      },
      "hint": {
        "text": question.additionalAdvice
      },
      "value": question.data
    }) }}
  </div>
{% endmacro %}
