{% from 'components/error-summary/macro.njk' import errorSummary as nhsErrorSummary %}

{% macro errorSummary(errors) %}
  <div data-test-id="error-summary">
    {{ nhsErrorSummary({
      "titleText": "There is a problem",
      "descriptionText": "To complete this page, resolve the following errors;",
      "errorList": errors
    }) }}
  </div>
{% endmacro %}
