{% macro dashboardSectionTask(task, index) %}
  <li data-test-id="dashboard-section-task-{{index}}" class="app-task-list__item">
    <div class="nhsuk-grid-column-one-half" >
      <span data-test-id="dashboard-section-task-title" class="app-task-list__task-name">
        <a href="{{ item.URL }}" aria-describedby="eligibility-completed">
          {{ task.title }}
        </a>
      </span>
    </div>
    <div class="nhsuk-grid-column-two-quarters">
      <span data-test-id="dashboard-section-task-requirement" class="app-task-list__task-name">
        <p>{{ task.requirement }}</p>
      </span>
      <strong data-test-id="dashboard-section-task-status" class="govuk-tag app-task-list__task-completed" id="eligibility-completed">
        {{ task.status }}
      </strong>
    </div>
  </li>
{% endmacro %}