{% from 'components/inset-text/macro.njk' import insetText %}
{% from './dashboard-section.njk' import dashboardSection %}

{% macro dashboardSubSection(section) %}
  <div data-test-id="dashboard-sub-section-{{section.id}}">
    {{ insetText({
      "HTML": dashboardSection(section)
    }) }}
  </div>
{% endmacro %}