{% extends 'includes/layout.njk' %}
{% from './dashboard-section.njk' import dashboardSection %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <h1>Marketing Page - Dashboard</h1>
    {% for section in sectionGroups %}
      {{ dashboardSection(section, loop.index) }}
    {% endfor %}
  </div>
</div>
{% endblock %}
