{% from './dashboard-section.njk' import dashboardSection %}

{% macro dashboardSectionGroup(sectionGroup, index) %}
  <div data-test-id="dashboard-sectionGroup-{{index}}">
    <h2 class="app-section-list__section">
      {{ sectionGroup.title }}
    </h2>
    <ul class="app-section-list__items">
      {% for section in sectionGroup.sections %}
        {{ dashboardSection(section, loop.index) }}
      {% endfor %}
    </ul>
  </div>
{% endmacro %}