{% extends 'includes/layout.njk' %}
{% from 'components/button/macro.njk' import button %}
{% from './dashboard-sectionGroup.njk' import dashboardSectionGroup %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <h1>Marketing Page - Dashboard</h1>
    <div data-test-id="dashboard-preview-button">
      {{ button({
        "text": "Preview Marketing page",
        "classes": "nhsuk-button--secondary",
        "href": previewUrl
      }) }}
    </div>

    {% for sectionGroup in sectionGroups %}
      {{ dashboardSectionGroup(sectionGroup) }}
    {% endfor %}

    <br/>
    <br/>
    <div data-test-id="dashboard-submit-for-moderation-button">
      {{ button({
        "text": "Submit for moderation",
        "href": submitForModerationUrl
      }) }}
    </div>
  </div>
</div>
{% endblock %}
