{% extends 'includes/layout.njk' %}
{% from './task-section.njk' import taskSection %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <h1>Marketing Pages</h1>

    {{ taskSection(section) }}

  </div>
</div>
{% endblock %}
