{% from 'components/label/macro.njk' import label %}
{% from './preview-question.njk' import previewQuestion %}

{% macro previewSection(section) %}
  <div data-test-id="preview-section-{{section.id}}">
    <div class="nhsuk_title">
      <h3>{{ section.title }}</h3>
    </div>

    {% for question in section.questions %}
      {{ previewQuestion(question) }}
    {% endfor %}
  </div>
{% endmacro %}