{% extends 'includes/layout.njk' %}
{% from 'components/button/macro.njk' import button %}
{% from './preview/sections/preview-solution-description.njk' import previewSolutionDescription %}
{% from './preview/sections/preview-features.njk' import previewFeatures %}
{% from './error-summary.njk' import errorSummary %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    {% if (errors.length > 0) %}
      {{ errorSummary(errors) }}
    {% endif %}  

    <h1>Preview Page</h1>
    
    {{ previewSolutionDescription(sections['solution-description']) }}
    {{ previewFeatures(sections['features']) }}

  </div>

  <br/>
  <br/>
  <div data-test-id="preview-submit-button">
    {{ button({
      "text": "Submit for moderation",
      "href": submitPreviewUrl
    }) }}
  </div>
</div>
{% endblock %}
