{% from 'components/label/macro.njk' import label %}

{% macro previewQuestion(question) %}
  
  <div data-test-id="preview-section-question-{{question.id}}">
    {% if (question.title) %}
      <div data-test-id="preview-question-title">
        {{ label({
          "classes": "nhsuk-label--s",
          "text": question.title
        }) }}
      </div>
    {% endif %}
    <div data-test-id="preview-question-data">
      {% if (question.type === 'bulletpoint-list') %}
        <ul>
          {% for data in question.data %}
            <li>
              {{ label({
                "text": data
              }) }}
            </li>
          {% endfor %}
        </ul>
      {% else %}
        {{ label({
          "text": question.data
        }) }}
      {% endif %}
    </div>
  </div>

{% endmacro %}