{% from 'components/label/macro.njk' import label %}
{% from 'components/error-message/macro.njk' import errorMessage %}

{% macro previewQuestionTitle(question) %}
  {% if (question.error.message) %}
    <div data-test-id="preview-question-title-error" class="nhsuk-form-group nhsuk-form-group--error">
      {{ errorMessage({
        "text": question.error.message
      }) }}
      {{ label({
        "classes": "nhsuk-label--s",
        "text": question.title
      }) }}
    </div>
  {% else %}
    <div data-test-id="preview-question-title">
      {{ label({
        "classes": "nhsuk-label--s",
        "text": question.title
      }) }}
    </div>
  {% endif %}
{% endmacro %}