{% from 'components/label/macro.njk' import label %}
{% from './preview-question-title.njk' import previewQuestionTitle %}

{% macro previewQuestion(question) %}
  <div data-test-id="preview-section-question-{{question.id}}" class="nhsuk-table__row">
    {% if (question.title) %}
      {{ previewQuestionTitle(question) }}
    {% endif %}
    <div data-test-id="preview-question-data">
      {% if (question.type === 'bulletpoint-list') %}
        <ul>
          {% for data in question.data %}
            <li>
              {{ label({
                "text": data
              }) }}
            </li>
          {% endfor %}
        </ul>
      {% elif (question.type === 'link') %}
        <a href="{{ question.data }}" target="_blank">
          {{ label({
            "text": question.data
          }) }}
        </a>
      {% else %}
        {{ label({
          "text": question.data
        }) }}
      {% endif %}
    </div>
  </div>

{% endmacro %}