{% extends 'includes/layout.njk' %}
{% from './preview/sections/preview-solution-description.njk' import previewSolutionDescription %}
{% from './preview/sections/preview-features.njk' import previewFeatures %}
{% from './preview/sections/preview-client-application-types.njk' import previewClientApplicationTypes %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1>Preview Page</h1>
    
    {{ previewSolutionDescription(sections['solution-description']) }}
    {{ previewFeatures(sections['features']) }}
    {{ previewClientApplicationTypes(sections['client-application-types']) }}

  </div>
</div>
{% endblock %}
