{% extends 'includes/layout.njk' %}
{% from 'components/button/macro.njk' import button %}
{% from './section-question.njk' import sectionQuestion %}
{% from './section-error-summary.njk' import sectionErrorSummary %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    {% if (errors.length > 0) %}
      {{ sectionErrorSummary(errors) }}
    {% endif %}  
    
    <h2 data-test-id="section-title">{{ title }}</h2>
    <h4 data-test-id="section-main-advice">{{ mainAdvice }}</h4>
    <div data-test-id="section-additional-advice">
      {% for advice in additionalAdvice %}
        <p class="nhsuk-body-l">
          {{ advice }}
        </p>
      {% endfor %}
    </div>

    <form method="post" action="{{ submitActionUrl }}">
      {% for question in questions%}
        {{ sectionQuestion(question) }}
      {% endfor %}
      
      <div data-test-id="section-submit-button">
        {{ button({
          "text": "Save and return to all sections"
        }) }}
      </div>
    </form>

  </div>
</div>
{% endblock %}
