{% extends 'includes/layout.njk' %}
{% from 'components/button/macro.njk' import button %}
{% from './section-question.njk' import sectionQuestion %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
  
    <h2 data-test-id="section-title">{{ title }}</h2>
    <h4 data-test-id="section-mainAdvice">{{ mainAdvice }}</h4>

    <form method="post" action="{{ submitActionUrl }}">
      {% for question in questions%}
        {{ sectionQuestion(question) }}
      {% endfor %}
      
      <div data-test-id="section-submit-button">
        {{ button({
          "text": "Save and return to all sections"
        }) }}
      </div>
    </form>

  </div>
</div>
{% endblock %}
