{% extends 'includes/layout.njk' %}
{% from 'components/button/macro.njk' import button %}
{% from './task-question.njk' import taskQuestion %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <h1>{{ title }}</h1>
    <form method="post" action="{{ submitActionUrl }}">

      {% for question in questions%}
        {{ taskQuestion(question) }}
      {% endfor %}
      
      <div data-test-id="task-submit-button">
        {{ button({
          "text": "Save and return to all sectionGroups"
        }) }}
      </div>
    </form>

  </div>
</div>
{% endblock %}
