{% macro taskSection(section) %}

  {% macro taskSectionList(tasks) %}
    <ul class="app-task-list__items">
      {% for task in tasks %}
        <li class="app-task-list__item">
          <div class="nhsuk-grid-column-one-half" >
            <span class="app-task-list__task-name">
              <a href="{{ item.URL }}" aria-describedby="eligibility-completed">
                {{ task.title }}
              </a>
            </span>
          </div>
        </li>
      {% endfor %}
    </ul>
  {% endmacro %}


  <h2 class="app-task-list__section">
    {{ section.name }}
  </h2>
  {{ taskSectionList(section.task) }}
{% endmacro %}