{% from 'components/header/macro.njk' import header %}
{% from 'components/bc-header/macro.njk' import bcHeader %}

{{ bcHeader({
  dataTestId: "header-banner",
  classes: "nhsuk-u-padding-top-3 nhsuk-u-padding-bottom-2"
}) }}