{% from 'components/header/macro.njk' import header %}
{% from 'components/bc-header/macro.njk' import bcHeader %}

{{ bcHeader({
  dataTestId: "header-banner",
  classes: "nhsuk-u-padding-top-3 nhsuk-u-padding-bottom-2",
  logoLink: {
    href: config.publicBrowseBaseUrl,
    ariaLabel: "Buying Catalogue Homepage"
  },
  showBetaBanner: true,
  termsHref: config.feedbackLinkUrl,
  cookiePrivacy: {
      showBanner: showCookieBanner,
      href: "/privacy-policy",
      dismissHref: "/marketing/dismiss-cookie-banner"
    }
}) }}
