{% extends 'includes/layout.njk' %}
{% from 'sections/view-solution-description/macro.njk' import viewSolutionDescription %}
{% from 'sections/view-features/macro.njk' import viewFeatures %}
{% from 'sections/view-client-application-types/macro.njk' import viewClientApplicationTypes %}
{% from 'sections/view-solution-contact-details/macro.njk' import viewSolutionContactDetails %}
{% from 'sections/view-solution-capabilities/macro.njk' import viewSolutionCapabilities %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1>Preview Page</h1>
    
    {{ viewSolutionDescription({
      section: sections['solution-description']
    }) }}
    {{ viewSolutionCapabilities({
      section: sections.capabilities
    }) }}
    {{ viewFeatures({
      section: sections['features']
    }) }}
    {{ viewClientApplicationTypes({
      section: sections['client-application-types']
    }) }}
    {{ viewSolutionContactDetails({
      section: sections['contact-details']
    }) }}

  </div>
</div>
{% endblock %}
