{% macro previewClientApplicationTypes(section) %}
  {% if section %}
    <div data-test-id="preview-client-application-types">
      <div class="nhsuk_title">
        <h3>Client application type</h3>
      </div>

    </div>
  {% endif %}
{% endmacro %}