{% from '../components/preview-question-title.njk' import previewQuestionTitle %}
{% from '../components/preview-question-data-text.njk' import previewQuestionDataText %}
{% from '../components/preview-question-data-link.njk' import previewQuestionDataLink %}

{% macro previewSolutionDescription(section) %}
  {% if section %}
    <div data-test-id="preview-solution-description">
      <div class="nhsuk_title">
        <h3>Solution description</h3>
      </div>

      {% if section.answers.summary %}
        <div data-test-id="preview-section-question-summary" class="nhsuk-table__row">
            {{ previewQuestionTitle('summary', 'Summary') }}
            {{ previewQuestionDataText(section.answers.summary) }}
        </div>
      {% endif %}

      {% if section.answers.description %}
        <div data-test-id="preview-section-question-description" class="nhsuk-table__row">
            {{ previewQuestionTitle('description', 'About the solution') }}
            {{ previewQuestionDataText(section.answers.description) }}
        </div>
      {% endif %}
      
      {% if section.answers.link %}
        <div data-test-id="preview-section-question-link" class="nhsuk-table__row">
          {{ previewQuestionDataLink(section.answers.link) }}
        </div>
      {% endif %}
    </div>
  {% endif %}
{% endmacro %}